<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Daily Expense Tracker || Manage Expense</title>

<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">
<!--Custom Font-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<?php include_once('includes/header.php');?>
<?php include_once('includes/sidebar.php');?>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div>
    <ol class="breadcrumb">
      <li><a href="#">
        <em class="fa fa-home"></em>
      </a></li>
      <li class="active">Expense</li>
    </ol>
  </div><!--/.row-->




  <div class="row">
    <div class="col-lg-12">



      <div class="panel panel-default">
        <div class="panel-heading">Expense</div>
        {% with messages = get_flashed_messages() %}
         	{% if messages %}
					{% for message in messages %}
					<div class="notify" role="alert">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						{{ message }}
					</div>
					 {% endfor %}
         {% endif %}
      {% endwith %}
        <div class="panel-body">
          <p style="font-size:16px; color:red" align="center"> <?php if($msg){
  echo $msg;
  }  ?> </p>
          <div class="col-md-12">

            <div class="table-responsive">
          <table class="table table-bordered mg-b-0">
            <thead>
              <tr>
                <th>S.NO</th>
                <th>Expense Item</th>
                <th>Category</th>
                <th>Expense Date</th>
                <th>Expense Cost</th>
                <th>Action</th>
              </tr>
            </thead>
            {% for row in result.items %}

            <tbody>
              <tr>

                <td>{{ loop.index}}</td>

                <td>{{row.expDesc}}</td>
                <td>{{row.expCategory}}</td>
                <td>{{row.expDate}}</td>
                <td>{{row.expAmount}}</td>
                {% set url = "/manage/delete/{}".format(row.id) %}
                <td><a onclick="return confirm('Record will be Deleted');" href={{url}}>Delete</a>
              </tr>
           {% endfor %}

            </tbody>
          </table>
      {% for page_num in result.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if result.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('server.manageexpense', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('server.manageexpense', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
        </div>
          </div>
        </div>
      </div><!-- /.panel-->
    </div><!-- /.col-->
    <?php include_once('includes/footer.php');?>
  </div><!-- /.row -->
</div><!--/.main-->

<script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/chart.min.js')}}"></script>
  <script src="{{ url_for('static',filename='js/chart-data.js')}}"></script>
  <script src="{{ url_for('static',filename='js/easypiechart.js')}}"></script>
  <script src="{{ url_for('static',filename='js/easypiechart-data.js')}}"></script>
  <script src="{{ url_for('static',filename='js/bootstrap-datepicker.js')}}"></script>
  <script src="{{ url_for('static',filename='js/custom.js')}}"></script>

</body>
</html>
<?php }  ?>
